/** PAGE LAYOUT */

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    gap: .5em;
    color: black;
}

@media (min-width: 45em) {
    body {
        grid-template-columns: /*1fr*/ 3fr 1fr;
        grid-template-rows: auto 1fr min-content;
    }
}

header, footer {
    grid-column: 1 / -1;
}

button { border-radius: 1em; }


/** TASK LIST DISPLAY SETTINGS */

/* list of task */
div#panel-task-list ul {
    list-style-type: none;
}

/* individual task name/handle display in list */
div#panel-task-list .task-handle {
    cursor: pointer;
    user-select: none; /* prevent text selection */
}

div#panel-task-list .task-handle[data-selected="true"] {
    color: white;
    background-color: black;
}

div#panel-task-list #new-task-name {
    margin-right: .5em;
}

/** TASK DETAIL VIEW DISPLAY SETTINGS */
#panel-task-details #active-task-title {
    font-weight: bold;
    font-size: 125%;
}

#panel-task-details #active-task-due-date-wrapper {
    font-style: italic;
    color: darkgray;
}

#panel-task-details #active-task-due-date {
    color: black;
}

#panel-task-details #active-task-uuid, #panel-task-details #active-task-creation-date-wrapper {
    margin-top: .5em;
    font-style: italic;
    font-size: 70%;
    color: darkgray;
}

#panel-task-details #active-task-uuid {
    font-family: monospace;
}