/** PAGE LAYOUT */

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    gap: .5em;
    color: black;
}

@media (min-width: 45em) {
    body {
        grid-template-columns: /*1fr*/ 4fr 2fr;
        grid-template-rows: auto 1fr min-content;
    }
}

header, footer {
    grid-column: 1 / -1;
}

/* button, input[type="button"] { border-radius: 1em; } */

#menu-toggle {
    cursor: pointer;
}

/** TASK LIST **/

/* list of task */
div.panel-task-list ul {
    list-style-type: none;
}

/* individual task name/handle display in list */
div.panel-task-list .task-handle {
    border-radius: .25em;
    padding: .1em;
    margin-left: .15em;
    cursor: pointer;
    user-select: none; /* prevent text selection */
}

div.panel-task-list .task-handle-fold {
    display: inline-block;
    cursor: pointer;
    min-width: 1.25em;
}

div.panel-task-list .task-handle[data-selected="true"] {
    color: white !important;
    background-color: var(--bs-primary);
}

div.panel-task-list .task-handle[data-done="true"] {
    text-decoration: line-through;
    color: gray;
}

div.panel-task-list #new-task-group {
    margin-top: .5em;
}

div.panel-task-list .task-small-due-date {
    margin-left: .5em;
    font-size: 70%;
    color: darkgray;
}

div.panel-task-list .due-date-badge {
    font-size: 70%;
    margin-left: .5em;
    position: relative;
    top: -.1em;
}

/** TASK DETAIL / EDIT VIEW **/
#panel-task-details #active-task-title {
    font-weight: bold;
    font-size: 125%;
}

#panel-task-details #active-task-due-date-wrapper {
    font-style: italic;
    color: darkgray;
}

#panel-task-details #active-task-due-date {
    color: black;
}

#panel-task-details #active-task-uuid, #panel-task-details #active-task-creation-date-wrapper,
#panel-task-edit #edit-task-uuid {
    margin-top: .5em;
    font-style: italic;
    font-size: 70%;
    color: darkgray;
}

#panel-task-details #active-task-uuid, #panel-task-edit #edit-task-uuid {
    font-family: monospace;
}

#panel-task-edit #edit-task-description {
    margin-top: .5em;
    width: 100%;
    height: 10em;
}

#panel-task-edit #edit-task-due-date-wrapper {
    margin-top: .5em;
}

div.highlight-active-children .task-handle:not([data-selected="true"]):not([data-related="true"]) {
    opacity: .4;
}
